<?xml version="1.0" encoding="UTF-8"?>
<it.unipi.iot.config.ConfigurationParameters>
	<databaseIp>localhost</databaseIp>
	<databasePort>3306</databasePort>
	<databaseUsername>root</databaseUsername>
	<databasePassword>root</databasePassword>
	<databaseName>smart_zoo</databaseName>
	<lowerBoundTemperature>70</lowerBoundTemperature>
	<upperBoundTemperature>100</upperBoundTemperature>
	<lowerBoundHumidity>40</lowerBoundHumidity>
	<upperBoundHumidity>60</upperBoundHumidity>
	<upperBoundAirQuality>500</upperBoundAirQuality>
	<maxNumberOfPeople>20</maxNumberOfPeople>
</it.unipi.iot.config.ConfigurationParameters>
